.ui-colorpicker{
	font-size: 0.9em;
}
.ui-colorpicker label{
	text-align: center;
}
.ui-colorpicker .ui-dialog-buttonpane{
	padding: 0;
}
.ui-colorpicker .ui-colorpicker-preview{
	height: 20px;
}
.ui-tabs-nav li{
	margin-bottom: 0;
}
.skip_filepreview_image{
	max-width:46px;
	max-height:60px;
}
.skip_field{
	display:inline;
}
.skip_field .wp-editor-wrap a{
	color:#999;
}
.skip_field .wp-editor-container{
	background-color:#FFF;
}
.skip_field_row{
	margin-bottom:20px;
}
.skip_field_row label{
	width:15%;
	display:block;
	float:left;
}
.skip_row_content{
	margin-left: 16%;
}
.skip_error{
	margin-bottom:20px;
}
.skip_file{
	padding:10px;
	width:400px;
}
.skip_filename{
	margin-bottom:10px;
	margin-left:56px;
}
.skip_fileuploader{
	margin-left:56px;
}
.skip_file_name{
	width:200px;
}
.skip_file_button{
	min-width:140px;
}
.skip_filepreview_image{
	float:left;
	margin-bottom:10px;
}
.wp-dialog .ui-dialog-titlebar-close{
	background:none;
}
.wp-dialog .ui-dialog-titlebar{
}
#wp-link label input[type="text"]{
	width:355px;
}

